# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.eslintcache

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Temp & Local Files
test.pdf
demo_presentation.md
.DS_Store
Thumbs.db

.vercel
_uv/
test_pdf_download.pdf

